@font-face {
  font-family: 'icomoon';
  src:  url('/font/icomoon.eot?b8g6bp');
  src:  url('/font/icomoon.eot?b8g6bp#iefix') format('embedded-opentype'),
    url('/font/icomoon.ttf?b8g6bp') format('truetype'),
    url('/font/icomoon.woff?b8g6bp') format('woff'),
    url('/font/icomoon.svg?b8g6bp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-work:before {
  content: "\e900";
}
.icon-clap:before {
  content: "\e901";
}
.icon-len:before {
  content: "\e902";
}
